# logs
*__pycache__*
code/credentials.py
*.DS_Store

# virtual environment
venv/
# data files
data/interim/*
data/raw/*
data/processed/*

# PUDL
data_pudl/data/*
data_pudl/parquet/*
data_pudl/sqlite/*