# logs
*__pycache__*
*.DS_Store
.DS_Store

# credentials
analysis/credentials.py
code/extract/credentials.py

# virtual environment
venv/
venv*
# data files
data_pudl
data/interim/*
data/raw/*
data/processed/*
data/final/*
data/pudl/*
data/epa_ppr/*

# results files
results/*

# snakefiles
logs
.snakemake